.image-container {
  background-color: #b8c248;
  margin: 0;
  overflow-x: hidden;
}

.solo-wrapper {
  display: flex;
}

.full-image {
  max-width: 881px;
  width: 100%;
  height: 517px;
  margin: 0 auto;
  object-fit: cover;
}

.image-wrapper {
  display: flex;
  gap: 8px;
  margin: 0;
}

.image-item {
  max-width: 565px;
  width: 100%;
  height: 517px;
  margin: 0;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image-item {
    max-width: 50%;
  }
}
