.image-container {
  background-color: #b8c248;
  display: flex;
  margin: 0;
  overflow-x: hidden;
  gap: 8px;
}

.image-item {
  max-width: 881px;
  width: 100%;
  max-height: 517px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.multiple-images {
  max-width: 565px;
  width: 100%;
  max-height: 517px;
  height: auto;
  margin: 0;
  object-fit: cover;
}
